@import './config';

section.keyboard {
    @include Flex(c, c);
    flex-wrap: wrap;
    align-content: center;
    
    div.key {
        @include Rectangle(clamp(2.75rem, 10vw, 4rem));
        @include Flex(c, c);
        margin: .25em;
        border-radius: .5em;
        font-weight: 800;
        @include Clamp(1, 5, 1.1);
        background: #202020;
        // border: 1px solid #707070;
        box-shadow: 0 0 4px #707070;
        cursor: pointer;
        transition: .3s;

        &.active {
            pointer-events: none;

            &.true { background: green; }
            &.false { background: crimson; }
        }

        &:hover {
            background: #181818;
        }
    }
}