@import './config';

section.keyword {
    text-align: center;
    font-family: 'Roboto Mono', monospace;
    font-size: 1.5rem;
    font-weight: 600;
    letter-spacing: 5px;
    height: 17vh;
    @include Flex(c, c);
}